.inline{
    background-color: darkslategrey;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: inline;
}
.inlineblock{
    background-color: darkslategrey;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.block{
    background-color: darkslategrey;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: block;
}
.none{
    display: none;
}